# Build results
bin/
obj/
out/

# Rider project files
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings (if any)
.vscode/

# macOS system files
.DS_Store

# NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Test results
TestResults/
*.trx

# Others
*.vs/
_ReSharper*/
*.resharper
*.DotSettings.user
